@charset "UTF-8";
@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/BebasNeue/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"), url("../fonts/BebasNeue/BebasNeue-Thin.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeue-Thin.woff") format("woff"), url("../fonts/BebasNeue/BebasNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Light"), local("BebasNeueLight"), url("../fonts/BebasNeue/BebasNeueLight.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("../fonts/BebasNeue/BebasNeueBook.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/BebasNeue/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.header .header-inner, .header .header-inner .header-content, .header .header-inner .header-content .wrap-header-contacts, .header .header-inner .header-content .wrap-header-adres, .header .header-inner .header-content .wrap-header-menu, .header .header-inner .header-content .wrap-header-contacts .header-contacts, .header .header-inner .header-content .wrap-header-menu .menu ul, .courses .courses-cards-inner .card, .achievements .achievements-inner .achievements-items-inner, .review-inner .review-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.header .header-inner .header-content .wrap-header-contacts, .header .header-inner .header-content .wrap-header-adres, .header .header-inner .header-content .wrap-header-menu {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.header .header-inner .header-content .wrap-header-contacts .header-contacts, .header .header-inner .header-content .wrap-header-menu .menu ul, .review-inner .review-item {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.header .header-inner .header-content {
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
}

* {
  box-sizing: border-box;
  /* border-box позволяет значения padding и border вычитать из ширины и длины блока */
}

a {
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}
a:visited, a:link {
  color: inherit;
}

p {
  margin: 0px 0px 20px 0px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  font-size: 18px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html, body {
  font-family: 'PT Serif', serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333355;
}

h1, h2, h4 {
  text-align: center;
}

h1 {
  font-family: "Bebas Neue Book", cursive;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 1.6px;
  color: #0b6bcb;
  margin-top: 0px;
  margin-bottom: 45px;
  padding-top: 100px;
}

h2, h4 {
  font-family: "Montserrat", sans-serif;
  color: #e91b1b;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0 15px;
}

h2 {
  margin: 0px;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  cursor: pointer;
  text-align: center;
  width: 280px;
  height: 50px;
  border: solid 2px #0b6bcb;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 46px;
  color: #0b6bcb !important;
  font-weight: 500;
}
.btn:hover {
  background-color: #0b6bcb;
  color: #fff !important;
}
.btn:active {
  opacity: 0.8;
}

.header {
  padding-bottom: 30px;
  font-size: 18px;
  color: #0b6bcb;
}
.header .header-inner .header-logo {
  float: right;
  padding-top: 10px;
  min-width: 229px;
}
.header .header-inner .header-logo img {
  cursor: auto;
  width: 100%;
}
.header .header-inner .header-content {
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 70px;
}
.header .header-inner .header-content .wrap-header-contacts {
  border-bottom: 2px solid #ff3333;
  padding-bottom: 10px;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts {
  align-items: flex-end;
  width: 620px;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts .header-email:hover, .header .header-inner .header-content .wrap-header-contacts .header-contacts .header-phone:hover {
  color: #e91b1b;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts .header-phone.first {
  position: relative;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts .header-phone.first:before {
  font-family: 'icomoon';
  content: "\f095";
  position: absolute;
  left: -20px;
  color: #e91b1b;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts .header-phone.second {
  padding-left: 10px;
  flex-grow: 1;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts .header-email {
  position: relative;
}
.header .header-inner .header-content .wrap-header-contacts .header-contacts .header-email:before {
  font-family: 'icomoon';
  content: "\f003";
  position: absolute;
  left: -30px;
  color: #e91b1b;
}
.header .header-inner .header-content .wrap-header-adres {
  padding: 11px 0px 10px 0px;
}
.header .header-inner .header-content .wrap-header-adres .header-adres {
  position: relative;
}
.header .header-inner .header-content .wrap-header-adres .header-adres:before {
  font-family: 'icomoon';
  content: "\f041";
  position: absolute;
  left: -20px;
  color: #e91b1b;
}
.header .header-inner .header-content .wrap-header-menu {
  font-size: 26px;
  font-family: 'Bebas Neue';
  color: #0b6bcb;
}
.header .header-inner .header-content .wrap-header-menu .menu li {
  display: inline-block;
}
.header .header-inner .header-content .wrap-header-menu .menu a {
  padding: 15px 15px;
  transition: all .3s;
  /* Замедление появления рамки на 0.3 секунды*/
  border-bottom: 2px solid transparent;
  /* Рамка прозрачного цвета */
}
.header .header-inner .header-content .wrap-header-menu .menu a:hover {
  border-color: #e91b1b;
}
.header .header-inner .header-content .wrap-header-menu .menu a:active {
  border-color: #e91b1b;
}

#btn_contacts {
  display: none;
}

.menu-list .plus, .hamb {
  display: none;
}

.slider {
  max-width: 1170px;
  margin: auto;
}
.slider .slider-inner {
  position: relative;
}
.slider .slider-inner .slider-item-content {
  margin: 0 auto;
}
.slider .slider-inner .slider-item-content img {
  margin: auto;
  width: 100%;
  height: 400px;
}

.slick-active {
  outline: none !important;
}

.slick-btn {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 140px;
  border: none;
  background-color: transparent;
}
.slick-btn:focus, .slick-btn:active {
  outline: none !important;
}
.slick-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: #0b6bcb;
}

.slick-next {
  right: 0;
}
.slick-next:before {
  cursor: pointer;
  content: "\f105";
  font-size: 80px;
}
.slick-next:active {
  opacity: 30%;
}

.slick-prev {
  left: 0;
}
.slick-prev:before {
  cursor: pointer;
  content: "\f104";
  font-size: 80px;
}
.slick-prev:active {
  opacity: 30%;
}

.my-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover, .my-dots li button:focus {
  outline: none;
  color: #e91b1b;
}
.my-dots li button:hover:before, .my-dots li button:focus:before {
  color: #e91b1b;
  opacity: 1;
}
.my-dots li button:before {
  font-family: 'icomoon';
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\f10c";
  text-align: center;
  color: #0b6bcb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
  color: #e91b1b;
  font-size: 20px;
  top: -2.5px;
}

.courses {
  margin-top: 10px;
  font-size: 18px;
}
.courses .courses-cards-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}
.courses .courses-cards-inner .card {
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
.courses .courses-cards-inner .card .card-preview {
  display: none;
}
.courses .courses-cards-inner .card .subjects-list {
  margin: 30px 0 0 70px;
  color: #0b6bcb;
  font-size: 16px;
  position: relative;
  height: 160px;
  line-height: 20px;
}
.courses .courses-cards-inner .card .subjects-list li {
  margin-bottom: 5%;
}
.courses .courses-cards-inner .card .subjects-list li:before {
  font-family: 'icomoon';
  content: "\f0a3";
  position: absolute;
  left: -30px;
}
.courses .courses-cards-inner .card .courses_btn {
  align-self: center;
  margin-bottom: 35px;
}
.courses .footnote {
  color: #e91b1b;
  text-align: center;
  line-height: 18px;
  margin-top: 20px;
}

.courses .courses-cards-inner .card.schoolers .subjects-list {
  height: 136px;
}

.card.preschoolers .card-preview {
  background-image: url(../img/preschoolers.jpg);
}

.card.schoolers .card-preview {
  background-image: url(../img/schoolers.jpg);
}

.card.adults .card-preview {
  background-image: url(../img/adults.jpg);
}

.card.podgotovka .card-preview {
  background-image: url(../img/preschoolers.jpg);
}

.about h1 {
  text-align: left;
  padding-top: 0px;
}
.about .container {
  padding-top: 130px;
  border-bottom: solid 2px #0b6bcb;
  background-image: url(../img/people3.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 550px 330px;
}
.about .about-inner-content .about-content {
  min-height: 200px;
  width: 50%;
}

.achievements .achievements-inner {
  min-height: 260px;
}
.achievements .achievements-inner .achievements-items-inner {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  margin-top: 40px;
}
.achievements .achievements-inner .achievements-items-inner .achievements-item {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.achievements .achievements-inner .achievements-items-inner .achievements-item .number {
  font-weight: bold;
  font-size: 30px;
  color: #e91b1b;
}

.review-inner {
  border: solid 2px #0b6bcb;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 70px;
}
.review-inner .review-item {
  min-height: 300px;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.review-inner .review-item .client-name {
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
}
.review-inner .review-item .review-text {
  margin: 0 auto;
  width: 60%;
}
.review-inner .review-item .review-date {
  bottom: 0px;
  font-weight: 600;
  margin-bottom: 30px;
}

.reviews .btn {
  display: block;
  float: none;
  margin: 0 auto 100px;
}

.contacts {
  background-color: #103882;
}
.contacts .container {
  padding: 30px 0px;
}

.contacts-inner {
  height: 260px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr 400px;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 25px;
  grid-template-areas: 'phones adres locate' 'email social locate';
}
.contacts-inner .wrap-contacts-phones {
  grid-area: phones;
}
.contacts-inner .wrap-contacts-phones .contacts-phone {
  margin: 10px 0;
  display: list-item;
  list-style: none;
}
.contacts-inner .wrap-contacts-adres {
  grid-area: adres;
}
.contacts-inner .wrap-contacts-email {
  grid-area: email;
}
.contacts-inner .wrap-contacts-social {
  grid-area: social;
}
.contacts-inner .wrap-contacts-social a {
  font-size: 30px;
  padding-right: 10px;
}
.contacts-inner .wrap-contacts-social .ok:before {
  font-family: 'icomoon';
  content: "\e901";
  color: #fff;
}
.contacts-inner .wrap-contacts-social .vk:before {
  font-family: 'icomoon';
  content: "\e900";
  color: #fff;
  padding-right: 6px;
}
.contacts-inner .wrap-contacts-social .inst:before {
  font-family: 'icomoon';
  content: "\ea92";
  color: #fff;
}
.contacts-inner .wrap-locate {
  grid-area: locate;
}

.header .header-inner .header-content .wrap-header-menu.fixed {
  z-index: 5000;
  /*перекрывает всё*/
  background-color: #fff;
  border-bottom: solid 2px #e91b1b;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0;
  box-shadow: 0px -5px 20px 0px #161466;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.header .header-inner .header-content .wrap-header-menu.fixed .menu a {
  font-family: 'Bebas Neue Book';
  display: block;
  color: #0b6bcb;
  padding: 15px 25px;
  border-bottom: 2px solid transparent;
}
.header .header-inner .header-content .wrap-header-menu.fixed .menu a:hover, .header .header-inner .header-content .wrap-header-menu.fixed .menu a:active {
  color: #e91b1b;
}
.header .header-inner .header-content .wrap-header-menu.fixed .menu a:active {
  background-color: #5daeff;
}

#form_input {
  margin-top: 15px;
  width: 70%;
  margin-left: 25%;
  font-size: 1.1em;
}

#form_input label {
  color: #505050;
  cursor: pointer;
  font-size: 1.4em;
  font-family: "Montserrat", sans-serif;
}

#form_input label > .symbol {
  color: #e87e7e;
}

.form-footnote {
  font-size: 12px;
  color: #e91b1b;
  margin-bottom: 10px;
}

#form_input input, #form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid silver;
  font-size: 0.9em;
  color: #4a4a4a;
}

#form_input input:focus, #form_input textarea:focus {
  border-color: #0b6bcb;
  outline: none;
}

#form_input textarea#review {
  height: 100px;
}

.form-btn {
  margin-top: 20px;
  width: 50%;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  max-width: 700px;
  margin: 0 auto;
}

/* POPUP ZOOM */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

@media all and (min-width: 1191px) {
  .second-locate {
    display: none;
  }
}
@media all and (max-width: 1190px) {
  h2, h4 {
    font-weight: 600;
    font-size: 18px;
  }

  h2 {
    margin-top: 10px;
  }

  h4 {
    margin: 0 15px;
  }

  .header-adres, .header-phone, .header-email {
    font-size: 17px;
  }

  .menu {
    font-size: 22px;
  }

  .card.preschoolers .card-preview, .card.schoolers .card-preview, .card.adults .card-preview {
    height: 230px;
  }

  .btn {
    height: 40px;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 38px;
  }

  .courses_btn {
    width: 200px;
  }

  .footnote {
    font-size: 16px;
  }

  .achievements-item .text {
    font-size: 16px;
  }

  .achievements-item .number {
    font-size: 25px !important;
  }

  h3 {
    font-size: 18px;
  }

  .contacts .container {
    padding: 30px 20px;
  }

  .contacts-inner {
    font-size: 18px;
    grid-template-columns: 270px 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
  }

  .first-locate {
    display: none;
  }

  .second-locate {
    display: block;
  }
}
@media all and (max-width: 900px) {
  #btn_contacts {
    display: inline-block;
  }

  .header .header-inner {
    display: block;
  }

  .header .header-inner .header-logo {
    float: none;
    width: 229px;
    margin: 0 auto 20px;
  }

  .header .header-inner .header-content {
    display: block;
    height: auto;
  }

  .header .header-inner .header-content .wrap-header-contacts {
    display: none;
  }

  .header .header-inner .header-content .wrap-header-adres {
    display: none;
  }

  .header .header-inner .header-content .wrap-header-menu {
    justify-content: center;
  }

  .header .header-inner .header-content .wrap-header-menu.fixed .menu a {
    padding: 10px 10px;
  }

  .header-adres, .header-phone, .header-email {
    font-size: 14px;
  }

  .header .header-inner .header-content .wrap-header-adres .header-adres:before {
    left: -15;
  }

  .menu {
    font-size: 20px;
  }

  .courses .courses-cards-inner {
    grid-gap: 20px;
  }

  .courses .courses-cards-inner .card .card-preview {
    height: 300px;
  }

  .about .about-inner-content .about-content {
    width: auto;
  }

  .about .container {
    background-image: none;
  }

  .about h1 {
    text-align: center;
  }

  .contacts-inner {
    height: 700px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'phones phones' 'adres adres' 'email email' 'social social' 'locate locate';
  }

  h3 {
    text-align: center;
    margin-bottom: 5px;
  }

  .contacts-inner .wrap-contacts-social a {
    padding: 10px 7px 20px;
  }
}
@media all and (max-width: 780px) {
  .courses .courses-cards-inner .card .subjects-list {
    font-size: 14px;
  }

  .courses .footnote {
    font-size: 14px;
  }

  .courses .courses-cards-inner .card.schoolers .subjects-list {
    height: 114px;
  }
}
@media all and (max-width: 720px) {
  .courses .courses-cards-inner {
    grid-template-columns: 1fr;
  }

  .courses .courses-cards-inner .card .subjects-list {
    height: auto;
  }
}
@media all and (max-width: 490px) {
  .header .header-inner .header-content .wrap-header-menu {
    justify-content: flex-start;
  }

  .hamb:before {
    font-family: 'icomoon';
    content: "\f0c9";
    color: #0b6bcb;
  }

  .header .header-inner .header-content .wrap-header-menu.fixed {
    display: none;
  }

  .menu-list {
    width: 100%;
    height: 100%;
    background: #103882;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100vw;
    padding: 15px;
    font-size: 25px;
    z-index: 2;
    color: #fff;
  }

  .menu-list li {
    margin-bottom: 20px;
  }

  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list .plus {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 60px;
    transform: rotate(45deg);
    color: #fff;
  }

  .hamb {
    display: block;
    font-size: 35px;
  }

  .scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50%;
    right: 27px;
    display: none;
    text-indent: -9999px;
    background: url("../img/up.png") no-repeat;
    z-index: 9000;
  }

  html, body {
    font-size: 12px;
  }

  h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }

  h1:not(:first-of-type) {
    padding-top: 50px;
  }

  h2, h4 {
    font-size: 16px;
  }

  .header {
    padding-bottom: 20px;
  }

  .header .header-inner .header-logo img {
    margin: 15px 0;
  }

  .courses .courses-cards-inner .card .card-preview {
    height: 270px;
  }

  .about .container {
    border: none;
  }

  .achievements .achievements-inner .achievements-items-inner .achievements-item {
    font-weight: 600;
    line-height: normal;
    margin: 0 10px;
  }

  .achievements-item .text {
    font-size: 12px;
  }

  .achievements-item .number {
    font-size: 20px !important;
  }

  .slick-btn {
    display: none !important;
  }

  .review-inner .review-item .client-name {
    font-size: 16px;
  }

  .review-inner .review-item .review-text {
    height: 300px;
    margin: 10px auto;
    width: 90%;
    font-size: 14px;
  }

  .contacts-inner {
    font-size: 16px;
  }

  #form_input {
    width: 100%;
    margin-left: auto;
  }

  .form-btn {
    margin: 20px auto;
  }

  #form_input textarea#review {
    width: 100%;
  }

  .white-popup {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
